* {
    margin: 0;
    padding: 0;
}

.section01 {
    text-align: center;
    padding-top: 300px;
    font-size: 46px;

}
#heading{
  font-size: 80px;
  font-weight: bold;
  background-image: url('your-image.jpg');
  background-size: cover;
  background-position: center;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
