* {
    margin: 0;
    padding: 0;
}

.section01 {
    text-align: center;
    margin-top: 300px;
}

#heading{
  font-size: 100px;
  background-image: url("source/01.jpg");
  background-size: cover;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
